{% load webdesign %}

<div class="span3">
    <h4>
        <a href="#">
            {% lorem 3 w %}
        </a>    
    </h4>
    <div class="thumbnail">
        <a href="#">
            {% lorem 12 w %}
        </a>
        <img src="http://placehold.it/300x200" alt="">
        <div class="caption">
            <p>
                {% lorem 20 w %}
            </p>
            Mais:
            <ul>
                <li>
                    <a href="#">
                        {% lorem 4 w %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% lorem 4 w %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% lorem 4 w %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
